<div class="col-lg-8 col-md-10">
    <div class="card mb-3 border-primary" style="max-width: 65rem;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://laptrinhcanban.com/c/lap-trinh-c-co-ban/gioi-thieu-ngon-ngu-c/su-khac-biet-giua-c-c++-csharp/c++.png" class="card-img rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        C++
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            C++ — компилируемый, статически типизированный язык программирования общего назначения.
                            Поддерживает такие парадигмы программирования, как процедурное программирование,
                            объектно-ориентированное программирование, обобщённое программирование. Язык имеет богатую
                            стандартную библиотеку, которая включает в себя распространённые контейнеры и алгоритмы,
                            ввод-вывод, регулярные выражения, поддержку многопоточности и другие возможности. C++
                            сочетает свойства как высокоуровневых, так и низкоуровневых языков.
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Вещественные числа. Библиотека cmath</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Операторы цикла while и do-while</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Сокращенное присваивание. Инкремент и декремент. Приоритеты операций</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Цикл While</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Цикл do-while</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Массивы - вставка и удаление</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Двумерные массивы. Введение</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Алгоритмы на двумерных массивах</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Функции</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Отладка кода</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Указатели, передача массивов в функцию</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Адресная арифметика</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Прототипы и перегрузка функций, параметры по умолчанию</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Динамические одномерные массивы</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Динамическое расширение массива</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Спецсимволы, ASCII</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Тип данных char. Работа с символами</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Строки. Введение</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Файлы</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Произвольный доступ к файлам</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Структуры</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Ссылки. Пространства имен</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Управление вводом-выводом</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Методы</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Геттеры и Сеттеры</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Конструкторы</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Наследование</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Указатель this</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. деструктор и конструктор копирования</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Перегрузка операции присваивания</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Перегрузки операций часть 1</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Перегрузки операций часть 2</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Классы. Перегрузки операций часть 3</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Шаблоны</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Итераторы и операции с указателями</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Algorithm часть 1</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Algorithm часть 2</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>