<footer id="Contacts">
        <div>
            <nav>
                <ul class="f-menu">
                    <li class="f-menu-item">
                        <a href="" class="f-menu-link">artembitsa@gmail.com</a>
                    </li>

                    <li class="f-menu-item">
                        <a href="https://vk.com/artembirt" class="f-menu-link">vk.com/artembirt</a>
                    </li>

                    <li class="f-menu-item">
                        <a href="https://t.me/artem_fril" class="f-menu-link">@artem_fril</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer> 