<footer id="Contacts">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="mailto:info@eduapp.online">info@eduapp.online</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://vk.com/artembirt">Vk</a>
        </li>

<<<<<<< HEAD
        <li class="nav-item">
            <a class="nav-link" href="https://t.me/artem_fril">Telegram</a>
        </li>
    </ul>
</footer>
=======
                    <li class="f-menu-item">
                        <a href="https://t.me/artem_fril" class="f-menu-link">@artem_fril</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer> 
>>>>>>> 9e9e187313b6484d37bc2b757e7c0c272332f70b
