<footer id="Contacts">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="mailto:info@eduapp.online">info@eduapp.online</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://vk.com/artembirt">Vk</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://t.me/artem_fril">Telegram</a>
        </li>
    </ul>
</footer>