<header id="Home">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Home">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#Courses" role="button"
                aria-expanded="false">Courses</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="http://localhost:3000/c">C++</a></li>
                <li><a class="dropdown-item" href="http://localhost:3000/python">Python</a></li>
                <li><a class="dropdown-item" href="#Seti">Computer networks</a></li>
                <li><a class="dropdown-item" href="#Nodejs">Node JS</a></li>
                <li><a class="dropdown-item" href="#Web">Web</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#Contacts">Contacts</a>
        </li>
    </ul>
</header>