<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="col-lg-8 col-md-10">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://picsum.photos/300/200" class="card-img rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Card 1
                        </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Some placeholder content for the collapse component. This panel is hidden by default but
                                revealed when the user activates the relevant trigger.
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Link</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Link 1</a></td>
                                    <td>Description 1</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Link 2</a></td>
                                    <td>Description 2</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Link 3</a></td>
                                    <td>Description 3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>