<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('templates/head.ejs') %>
        <link rel="stylesheet" href="../css/style.css">
</head>

<body id="python">
    <%- include('templates/header.ejs') %>

        <%- include('templates/mains/nodejs_main.ejs') %>

            <%- include('templates/footer.ejs') %>
</body>

</html>