<footer id="Contacts">
    <div class="footer">
        <br>
        <img src="../images/mshp-logo.png" alt="Logo" width="200" height="50"
            class="d-inline-block align-text-top f-logo">

        <hr class="hr-line">

        <div>
            <div class="contacts">
                <div class="contact">
                    <ul class="nav flex-column">
                        <li>
                            <i class="bi bi-caret-right-fill icons"></i>
                            КОНТАКТЫ
                        </li>
                        <li>
                            <i class="bi bi-telephone-fill icons"></i>
                            <a class="active" href="">+7 (999) 999-99-99</a>
                        </li>
                        <li>
                            <i class="bi bi-envelope icons"></i>
                            <a class="active" href="mailto:info@eduapp.online">INFO@EDUAPP.ONLINE</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="contacts-nav">
                <span>© Все права защищены 2023.</span>
            </div>
        </div>
    </div>
</footer>