<header>
    <nav class="navbar bg-body-tertiary border-bottom" style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index"
                style="font-size: 40px; font-family: 'Quicksand', sans-serif; color: #0D6EFD;">
                EduApp
            </a>

            <ul class="nav nav-pills" style="margin-right: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index" style="margin-right: 30px;">Home</a>
                </li>

                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#Courses" role="button"
                            aria-expanded="false">Courses</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../courses/c">C++</a></li>
                            <li><a class="dropdown-item" href="../courses/python">Python</a></li>
                            <li><a class="dropdown-item" href="../courses/seti">Computer networks</a></li>
                            <li><a class="dropdown-item" href="../courses/nodejs">Node JS</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
</header>