<main>
    <div>
        <div class="col-lg-8 col-md-10">
            <div class="card mb-3 border-primary" style="max-width: 65rem;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../images/c++.png" class="card-img rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                C++
                            </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    C++ — компилируемый, статически типизированный язык программирования общего
                                    назначения.
                                    Поддерживает такие парадигмы программирования, как процедурное программирование,
                                    объектно-ориентированное программирование, обобщённое программирование. Язык
                                    имеет
                                    богатую
                                    стандартную библиотеку, которая включает в себя распространённые контейнеры и
                                    алгоритмы,
                                    ввод-вывод, регулярные выражения, поддержку многопоточности и другие
                                    возможности. C++
                                    сочетает свойства как высокоуровневых, так и низкоуровневых языков.
                                </div>
                            </div>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/1.Вещественные числа. Библиотека cmath.pdf"
                                                target="_blank">Вещественные числа. Библиотека cmath</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/3.1.Сокращенное присваивание. Инкремент и декремент. Приоритеты операций.pdf"
                                                target="_blank">Сокращенное присваивание. Инкремент и декремент.
                                                Приоритеты операций</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/3.2.Цикл While.pdf" target="_blank">Цикл
                                                While</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/3.3.Цикл do-while.pdf"
                                                target="_blank">Цикл do-while</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/2.Операторы цикла while и do-while.pdf"
                                                target="_blank">Операторы цикла while и do-while</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/4.2.Массивы - вставка и удаление памятка пропустившему.pdf"
                                                target="_blank">Массивы - вставка и удаление</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/5.Двумерные массивы. Введение.pdf"
                                                target="_blank">Двумерные массивы. Введение</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/6.Алгоритмы на двумерных массивах.pdf"
                                                target="_blank">Алгоритмы на двумерных массивах</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/7.Функции.pdf" target="_blank">Функции</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/9.Отладка кода.pdf"
                                                target="_blank">Отладка кода</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/1.Указатели, передача массивов в функцию.pdf"
                                                target="_blank">Указатели, передача массивов в функцию</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/2.Адресная арифметика.pdf"
                                                target="_blank">Адресная арифметика</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/3.Прототипы и перегрузка функций, параметры по умолчанию.pdf"
                                                target="_blank">Прототипы и перегрузка функций, параметры по
                                                умолчанию</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/4.Динамические одномерные массивы.pdf"
                                                target="_blank">Динамические одномерные массивы</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/5.Динамическое расширение массива.pdf"
                                                target="_blank">Динамическое расширение массива</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/6.Спецсимволы, ASCII.pdf"
                                                target="_blank">Спецсимволы, ASCII</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/7.Тип данных char. Работа с символами.pdf"
                                                target="_blank">Тип данных char. Работа с символами</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/8.Строки. Введение.pdf"
                                                target="_blank">Строки. Введение</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/9.Файлы.pdf" target="_blank">Файлы</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/10.Произвольный доступ к файлам.pdf"
                                                target="_blank">Произвольный доступ к файлам</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/11.Структуры.pdf"
                                                target="_blank">Структуры</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/12.Ссылки. Пространства имен.pdf"
                                                target="_blank">Ссылки. Пространства имен</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/13.Управление вводом-выводом.pdf"
                                                target="_blank">Управление вводом-выводом</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/1.Классы.pdf" target="_blank">Классы</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/2.Классы. Методы.pdf"
                                                target="_blank">Классы. Методы</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/3.Классы. Геттеры и Сеттеры.pdf"
                                                target="_blank">Классы. Геттеры и Сеттеры</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/4.Классы. Конструкторы.pdf"
                                                target="_blank">Классы. Конструкторы</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/5.Классы. Наследование.pdf"
                                                target="_blank">Классы. Наследование</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/6.Классы. Указатель this.pdf"
                                                target="_blank">Классы. Указатель this</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/1.Классы. деструктор и конструктор копирования.pdf"
                                                target="_blank">Классы. деструктор и конструктор копирования</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/2.Классы. Перегрузка операции присваивания.pdf"
                                                target="_blank">Классы. Перегрузка операции присваивания</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/3.1.Классы. Перегрузки операций, часть 1.pdf"
                                                target="_blank">Классы. Перегрузки операций часть 1</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/3.2.Классы. Перегрузки операций, часть 2.pdf"
                                                target="_blank">Классы. Перегрузки операций часть 2</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/3.3.Классы. Перегрузки операций, часть 3.pdf"
                                                target="_blank">Классы. Перегрузки операций часть 3</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/4.Шаблоны.pdf" target="_blank">Шаблоны</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/5.Итераторы и операции с указателями.pdf"
                                                target="_blank">Итераторы и операции с указателями</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/6.1.Algorithm.pdf"
                                                target="_blank">Algorithm часть 1</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="../presentations/C++_pdf/6.2.Algorithm.pdf"
                                                target="_blank">Algorithm часть 2</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>