<main id="Main">
<div class="container-fluid h-500 d-flex flex-column">
<div class="row flex-grow-1 ak_second_p">
<div class="col-12 div-sec">
<div class="col-md-12 col-sm-12">
<div class="clearfix">
<div class="row row-cols-1 row-cols-md-2 g-4 my-3">
  <div class="col">
    <div class="card">
      <img src="images/img_main_0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Программирование на новом уровне</h5>
        <p class="card-text"> Здесь вы найдете уникальную коллекцию презентаций, посвященных самым актуальным и
            востребованным темам в области программирования. Мы создали этот ресурс для того, чтобы
            помочь вам на пути к профессиональному росту и развитию ваших навыков.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/img_main_0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Исследуйте широту программирования</h5>
        <p class="card-text">Большое разнообразие тем: от основ языков программирования, таких
            как Python, Java, C++, NodeJS, JavaScript и многих других, до сложных тем, таких как
            искусственный интеллект, машинное обучение и блокчейн.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/img_main_0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Уникальные презентации от экспертов</h5>
        <p class="card-text">Презентации от экспертов в своей области: наши материалы созданы опытными
            программистами, учеными и преподавателями, чтобы обеспечить качество и полезность
            информации.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/img_main_0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Бесплатные презентации для вашего успеха</h5>
        <p class="card-text">Бесплатный доступ: все презентации доступны для бесплатного скачивания и просмотра,
            чтобы вы могли учиться и развиваться в любое удобное для вас время.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="images/img_main_0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Откройте дверь в мир программирования</h5>
        <p class="card-text">Не ждите – начните исследовать мир программирования прямо сейчас! Зарегистрируйтесь на
            нашем сайте, чтобы получить доступ ко всем возможностям и стать частью нашего сообщества
            программистов. Удачи вам в изучении программирования и добро пожаловать в нашу библиотеку
            презентаций!</p>
      </div>
    </div>
  </div>
</div>

                       
                           
</div>
</div>
</div>
</div>
</div>
</main>