<main id="Main">
    <div class="container-fluid h-500 d-flex flex-column">
        <div class="row flex-grow-1 ak_second_p">
            <div class="col-12 div-sec">
                <div class="col-md-12 col-sm-12">
                    <div class="clearfix">
                        <p class="p-text my-text">
                            Здесь вы найдете уникальную коллекцию презентаций, посвященных самым актуальным и
                            востребованным темам в области программирования. Мы создали этот ресурс для того, чтобы
                            помочь вам на пути к профессиональному росту и развитию ваших навыков.
                        <div class="my-center-img">
                            <img src="images/512_to_256.png" style="width: 512px; height: 256px;"
                                class="col-md-6 float-md-start p-1 m-2 my-img" alt="Пример изображения 512 на 256">
                        </div>
                        <p class="my-text p-text">
                            Что вы найдете на нашем сайте:
                        </p>
                        <p class="my-text p-text">
                            ● Большое разнообразие тем: от основ языков программирования, таких
                            как Python, Java, C++, NodeJS, JavaScript и многих других, до сложных тем, таких как
                            искусственный интеллект, машинное обучение и блокчейн.
                        </p>
                        <p class="my-text p-text">
                            ● Презентации от экспертов в своей области: наши материалы созданы опытными
                            программистами, учеными и преподавателями, чтобы обеспечить качество и полезность
                            информации.
                        </p>
                        <div class="my-center-img">
                            <img src="images/256_to_512.png" style="width: 256px; height: 512px;"
                                class="col-md-6 float-md-end p-1 m-2 my-img" alt="Пример изображения 256 на 512">
                        </div>
                        <p class="my-text p-text">
                            ● Бесплатный доступ: все презентации доступны для бесплатного скачивания и просмотра,
                            чтобы вы могли учиться и развиваться в любое удобное для вас время.
                        </p>
                        <p class="my-text p-text">
                            ● Возможность обмена опытом: мы предлагаем комментировать и оценивать презентации, а
                            также поделиться своими собственными материалами и знаниями с нашим сообществом.
                        </p>
                        <p class="my-text p-text">
                            ● Не ждите – начните исследовать мир программирования прямо сейчас! Зарегистрируйтесь на
                            нашем сайте, чтобы получить доступ ко всем возможностям и стать частью нашего сообщества
                            программистов. Удачи вам в изучении программирования и добро пожаловать в нашу библиотеку
                            презентаций!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>