<main>
    <div class="col-lg-8 col-md-10">
        <div class="card mb-3 border-primary" style="max-width: 65rem;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../images/nodejs.png" class="card-img rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Node JS
                        </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Node или Node.js — программная платформа, основанная на движке V8, превращающая
                                JavaScript из узкоспециализированного языка в
                                язык общего назначения. Node.js добавляет возможность JavaScript взаимодействовать с
                                устройствами ввода-вывода через свой API, написанный на C++, подключать другие
                                внешние
                                библиотеки, написанные на разных языках, обеспечивая вызовы к ним из
                                JavaScript-кода.
                                Node.js применяется преимущественно на сервере, выполняя роль веб-сервера, но есть
                                возможность разрабатывать на Node.js и десктопные оконные приложения. В основе
                                Node.js
                                лежит событийно-ориентированное
                                и асинхронное программирование с неблокирующим вводом/выводом.
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="../presentations/Node JS_pdf/Введение в nodejs.pdf"
                                            target="_blank">Введение в Node JS</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Node JS_pdf/1.Презентация [NodeJS - 3 урок].pdf"
                                            target="_blank">Работа с путями. Функции</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Node JS_pdf/2.1.Введение в ботов Telegram.pdf"
                                            target="_blank">Введение в ботов Telegram. Часть 1</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Node JS_pdf/2.2.Введение в ботов Telegram.pdf"
                                            target="_blank">Введение в ботов Telegram. Часть 2</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Node JS_pdf/3.1.Handlebars.pdf"
                                            target="_blank">Handlebars. Layout и particles</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Node JS_pdf/3.2.Handlebars.pdf"
                                            target="_blank">Handlebars. Директива if, данные в шаблоне, роуты</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Node JS_pdf/4.Классы.pdf" target="_blank">Классы,
                                            наследование и взаимодействие с ними.</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" target="_blank">Error 404</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>