<main>
    <div class="col-lg-8 col-md-10">
        <div class="card mb-3 border-primary" style="max-width: 65rem;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../images/python.png" class="card-img rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Python
                        </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Python — высокоуровневый язык программирования общего назначения с динамической
                                строгой
                                типизацией и
                                автоматическим управлением памятью, ориентированный на повышение производительности
                                разработчика, читаемости кода и его качества, а также на обеспечение переносимости
                                написанных на нём программ. Язык является полностью объектно-ориентированным.
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/02. Переменные и ввод_вывод данных.pdf"
                                            target="_blank">Переменные и ввод_вывод данных</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/03. Линейные задачи и вещественный тип данных.pdf"
                                            target="_blank">Линейные задачи и вещественный тип данных</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/04. Целочисленное деление и остаток от деления.pdf"
                                            target="_blank">Целочисленное деление и остаток от деления</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/05. Выделение цифр целого числа.pdf"
                                            target="_blank">Выделение цифр целого числа</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/11. Оператор ветвления. Полная и краткая формы.pdf"
                                            target="_blank">Оператор ветвления. Полная и краткая формы</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/12. Min, max, sum.pdf" target="_blank">Min,
                                            max, sum</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/13. Логические выражения и составные условия.pdf"
                                            target="_blank">Логические выражения и составные условия</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/14. Вложенные операторы ветвления elif.pdf"
                                            target="_blank">Вложенные операторы ветвления elif</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/15. Практикум алгоритмы счётчика и суммы.pdf"
                                            target="_blank">Практикум алгоритмы счётчика и суммы</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/16. Анализ кода, Code style.pdf"
                                            target="_blank">Анализ кода, Code style</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/18. Создание игрового теста с if.pdf"
                                            target="_blank">Создание игрового теста с if</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/21. Определенный цикл for.pdf"
                                            target="_blank">Определенный цикл for</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/23. Обработка данных во время ввода.pdf"
                                            target="_blank">Обработка данных во время ввода</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/24. Обработка данных во время ввода_ количество.pdf"
                                            target="_blank">Обработка данных во время ввода количество</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/25. Поиск минимума и максимума в цикле.pdf"
                                            target="_blank">Поиск минимума и максимума в цикле</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/29. Неопределенный цикл while.pdf"
                                            target="_blank">Неопределенный цикл while</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/30. while - выделение цифр в числе.pdf"
                                            target="_blank">while - выделение цифр в числе</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/31. Сравнение циклов while и for. Практикум по циклам.pdf"
                                            target="_blank">Сравнение циклов while и for. Практикум по циклам</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/32. Сложные условия в цикле while.pdf"
                                            target="_blank">Сложные условия в цикле while</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/33_Random.pdf" target="_blank">Random</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Шпаргалка по циклу for.pdf"
                                            target="_blank">Шпаргалка по циклу for</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученикам 1. Основы программирования и IDE.pdf"
                                            target="_blank">Основы программирования и IDE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/2_Rabota_s_konsoliy.pdf"
                                            target="_blank">Работа с консолью</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику. Функции_ знакомство.pdf"
                                            target="_blank">Функции знакомство</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 5. Матрёшка из функций.pdf"
                                            target="_blank">Матрёшка из функций</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 6. Функции_ практикум.pdf"
                                            target="_blank">Функции_ практикум</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 7. Рекурсия.pdf"
                                            target="_blank">Рекурсия</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 8. Функции_ проектная работа, оптимизация игры.pdf"
                                            target="_blank">Функции проектная работа, оптимизация игры</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 9. Строки.pdf"
                                            target="_blank">Строки</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/11. Алгоритмы со строками.pdf"
                                            target="_blank">Алгоритмы со строками</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/15. Списки.pdf" target="_blank">Списки</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/19. Множества и разбор кр.pdf"
                                            target="_blank">Множества</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 20. Списки_ алгоритмы суммы и счетчика.pdf"
                                            target="_blank">Списки алгоритмы суммы и счетчика</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 21. Списки_ удаление и вставка элементов.pdf"
                                            target="_blank">Списки удаление и вставка элементов</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/22. Списки_ сортировка.pdf"
                                            target="_blank">Списки сортировка</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 23. Функции для работы со списками.pdf"
                                            target="_blank">Функции для работы со списками</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 27. Вложенные циклы.pdf"
                                            target="_blank">Вложенные циклы</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 28. Двумерные списки.pdf"
                                            target="_blank">Двумерные списки</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 30. Словари.pdf"
                                            target="_blank">Словари</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/Ученику 32. Введение в ООП_ знакомство с классами.pdf"
                                            target="_blank">Введение в ООП знакомство с классами</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/33. ООП_ методы, наследование.pdf"
                                            target="_blank">ООП методы, наследование</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/34. ООП_ проект.pdf" target="_blank">ООП
                                            проект</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/Python_pdf/35. Большой практикум.pdf"
                                            target="_blank">Большой практикум</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>