<main>
    <div class="col-lg-8 col-md-10">
        <div class="card mb-3 border-primary" style="max-width: 65rem;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../images/python.png" class="card-img rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Python
                        </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Python — высокоуровневый язык программирования общего назначения с динамической
                                строгой
                                типизацией и
                                автоматическим управлением памятью, ориентированный на повышение производительности
                                разработчика, читаемости кода и его качества, а также на обеспечение переносимости
                                написанных на нём программ. Язык является полностью объектно-ориентированным.
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Переменные и ввод_вывод данных</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Линейные задачи и вещественный тип данных</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Целочисленное деление и остаток от деления</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Выделение цифр целого числа</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Оператор ветвления. Полная и краткая формы</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Min, max, sum</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Логические выражения и составные условия</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Вложенные операторы ветвления elif</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Практикум алгоритмы счётчика и суммы</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Анализ кода, Code style</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Создание игрового теста с if</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Определенный цикл for</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Обработка данных во время ввода</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Обработка данных во время ввода_ количество</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Поиск минимума и максимума в цикле</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Неопределенный цикл while</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">while - выделение цифр в числе</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Сравнение циклов while и for. Практикум по циклам</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Сложные условия в цикле while</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Random</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Шпаргалка по циклу for</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Python_ALL</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Основы программирования и IDE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Работа с консолью</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Матрёшка из функций</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Функции_ практикум</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Рекурсия</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Функции_ проектная работа, оптимизация игры</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Строки</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Функции_ знакомство</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Алгоритмы со строками</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Проектная работа</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Списки</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Множества и разбор кр</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Списки_ алгоритмы суммы и счетчика</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Списки_ удаление и вставка элементов</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Списки_ сортировка</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Функции для работы со списками</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Вложенные циклы</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Двумерные списки</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Словари</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Введение в ООП_ знакомство с классами</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Введение в ООП_ знакомство с классами</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">ООП_ проект</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Большой практикум</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>