<main>
    <div class="col-lg-8 col-md-10">
        <div class="card mb-3 border-primary" style="max-width: 65rem;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../images/seti.png" class="card-img rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Computer networks
                        </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Computer networks - ад для ваших мозгов. Если после C++ они у вас не расплавились,
                                то
                                после сетей плавиться будет нечему.
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок1. Полная. История. IPv4 vs IPv6.pdf"
                                            target="_blank">Введение в курс. Основное представление IP</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок 2 _ Презентация.pdf"
                                            target="_blank">Уровни обработки информации OSI. Методы представления IP</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/урок3_презентация.pdf"
                                            target="_blank">Верхние уровни OSI. Гипертекст. Доменные имена</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/урок4_светлая_презентация.pdf"
                                            target="_blank">Базовые принципы взаимодействия узлов. Классы сетей</a></td>
                                </tr>

                                <tr>
                                    <td><a href="../presentations/seti_pdf/урок5_презентация_светлая.pdf"
                                            target="_blank">Физический идентификатор. Типы сетей. Особые адреса</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/урок6_презентация.pdf"
                                            target="_blank">Топологии и бесклассовые сети</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/урок7_презентация_темная.pdf"
                                            target="_blank">Организация подсетей</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Презентация урок 9.pdf"
                                            target="_blank">Физическое кодирование</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Seti. История 10. Правило двойного оборота.pdf"
                                            target="_blank">Параметры физических соединений. CSMA/CD</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Сети. История 12. Виртуализация (5) Часть 1.pdf"
                                            target="_blank">Виртуализация. Настройка систем</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Сети. История 13. Часть 2.pdf"
                                            target="_blank">Виртуализация. Настройка сетей</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Сети. История 15 (3). Сниффинг.pdf"
                                            target="_blank">Анализ сетевой активности</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок 21-2. Методы кодирования.pdf"
                                            target="_blank">Введение в криптографию. Прямые и функциональные методы
                                            кодирования</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок 22. Функциональное кодирование.pdf"
                                            target="_blank">Функциональное кодирование информации</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок24_презентация.pdf"
                                            target="_blank">Анализ простых алгоритмов шифрующего кодирования</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Сети. Криптография 25. Шифрование. Основы.pdf"
                                            target="_blank">Шифрование. Основы</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Сети. Криптография 26. Базовые принципы уязвимости алгоритмов шифрования.pdf"
                                            target="_blank">Базовые принципы уязвимости алгоритмов шифрования</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Сети. Криптография 30. Симметричное шифрование.pdf"
                                            target="_blank">Симметричное шифрование</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок35_темная_Асимметричное шифрование.pdf"
                                            target="_blank">Асимметричное шифрование ИЛЛ</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок36 - RSA.pdf" target="_blank">Основной
                                            алгоритм асимметричного шифрования</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок37 - Сертификаты и Мандаты2.pdf"
                                            target="_blank">Сертификаты безопасности. Практика по асимметричному
                                            шифрованию</a></td>
                                </tr>
                                <tr>
                                    <td><a href="../presentations/seti_pdf/Урок38 - Стеганография.pdfH"
                                            target="_blank">Стеганография и коллизии функционала</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>